* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.global-container {
    width: 100vw;
    height: 200vh;

    background: rgb(18,194,233);
    background: linear-gradient(90deg, rgba(18,194,233,1) 0%, rgba(196,113,237,1) 50%, rgba(246,79,89,1) 100%);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
    height: 150vh;
    padding: 10px 0;
    box-sizing: border-box;
    background: white;
    margin: 0 auto;
}

.header {
    font-weight: 400;
    width: 100%;
    text-align: center;
    border-bottom: 1px #ccc solid;
    margin-bottom: 80px;
    background: white;
}

table {
    border-collapse: collapse;
    margin-bottom: 100px;
    margin-top: 20px;
    width: 100%;
    color: #313131;
}

.table-header {
    background: #f4f4f5;
}

th, td {
    padding: 10px 10px;
    border-right: 1px solid #ccc;
}

td {
    border-bottom: 1px solid #ccc;
}

th:last-child, td:last-child {
    border-right: none;
}

form {
    display: flex;
    width: 60%;
    height: 40px;
}

form input[type="text"] {
    padding: 5px 5px;
    width: 100%;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #969595;
    font-weight: 500;
    font-size: 14px;
}

form input[type="submit"] {
    padding: 5px 18px;
    background: #1ac1e9;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #6aa8ea;
}
