<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <title>Title</title>
</head>
<body>
    <div class="global-container">
        <div class="content-container">
            <h1 class="header">Finance App</h1>

            <table>
                <tr class="table-header" >
                    <th>Name</th>
                    <th>Price</th>
                    <th>Biggest price in the last year</th>
                    <th>Biggest price in the last month</th>
                    <th>Book Value</th>
                    <th>Difference</th>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.0}}"/>
                        <span>{{Name.0}}</span>
                    </td>
                    <td> {{Price.0}} {{Currency.0}}</td>
                    <td> {{Price_in_Year.0}} {{Currency.0}} </td>
                    <td> {{Price_in_Month.0}} {{Currency.0}} </td>
                    <td> {{BookValue.0}} </td>
                    <td>
                        {% if Difference.0 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.0}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.1}}"/>
                        <span>{{Name.1}}</span>
                    </td>
                    <td> {{Price.1}} {{Currency.1}} </td>
                    <td> {{Price_in_Year.1}} {{Currency.1}} </td>
                    <td> {{Price_in_Month.1}} {{Currency.1}}</td>
                    <td> {{BookValue.1}}  </td>
                    <td>
                        {% if Difference.1 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.1}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.2}}"/>
                        <span>{{Name.2}}</span>
                    </td>
                    <td> {{Price.2}} {{Currency.2}} </td>
                    <td> {{Price_in_Year.2}} {{Currency.2}} </td>
                    <td> {{Price_in_Month.2}} {{Currency.2}} </td>
                    <td> {{BookValue.2}} </td>
                    <td>
                        {% if Difference.2 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.2}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.3}}"/>
                        <span>{{Name.3}}</span>
                    </td>
                    <td> {{Price.3}} {{Currency.3}} </td>
                    <td> {{Price_in_Year.3}} {{Currency.3}} </td>
                    <td> {{Price_in_Month.3}} {{Currency.3}} </td>
                    <td> {{BookValue.3}} </td>
                    <td>
                        {% if Difference.3 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.3}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="https://utmagazine.ru/uploads/content/bbf82a2b075dda11f175b7ce032198e1.png"/>
                        <span>{{Name.4}}</span>
                    </td>
                    <td> {{Price.4}} {{"USD"}} </td>
                    <td> {{Price_in_Year.4}} {{"USD"}} </td>
                    <td> {{Price_in_Month.4}} {{"USD"}} </td>
                    <td> {{" --   "}} </td>
                    <td>
                        {% if Difference.4 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.4}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.4}}"/>
                        <span>{{Name.5}}</span>
                    </td>
                    <td> {{Price.5}} {{Currency.4}} </td>
                    <td> {{Price_in_Year.5}} {{Currency.4}} </td>
                    <td> {{Price_in_Month.5}} {{Currency.4}} </td>
                    <td> {{BookValue.4}} </td>
                    <td>
                        {% if Difference.5 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.5}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.5}}"/>
                        <span>{{Name.6}}</span>
                    </td>
                    <td> {{Price.6}} {{Currency.5}} </td>
                    <td> {{Price_in_Year.6}} {{Currency.5}} </td>
                    <td> {{Price_in_Month.6}} {{Currency.5}} </td>
                    <td> {{BookValue.5}} </td>
                    <td>
                        {% if Difference.6 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.6}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.6}}"/>
                        <span>{{Name.7}}</span>
                    </td>
                    <td> {{Price.7}} {{Currency.6}} </td>
                    <td> {{Price_in_Year.7}} {{Currency.6}} </td>
                    <td> {{Price_in_Month.7}} {{Currency.6}} </td>
                    <td> {{BookValue.6}} </td>
                    <td>
                        {% if Difference.7 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.7}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.7}}"/>
                        <span>{{Name.8}}</span>
                    </td>
                    <td> {{Price.8}} {{Currency.7}} </td>
                    <td> {{Price_in_Year.8}} {{Currency.7}} </td>
                    <td> {{Price_in_Month.8}} {{Currency.7}} </td>
                    <td> {{BookValue.7}} </td>
                    <td>
                        {% if Difference.8 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.8}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.8}}"/>
                        <span>{{Name.9}}</span>
                    </td>
                    <td> {{Price.9}} {{Currency.8}} </td>
                    <td> {{Price_in_Year.9}} {{Currency.8}} </td>
                    <td> {{Price_in_Month.9}} {{Currency.8}} </td>
                    <td> {{BookValue.8}} </td>
                    <td>
                        {% if Difference.9 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.9}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.9}}"/>
                        <span>{{Name.10}}</span>
                    </td>
                    <td> {{Price.10}} {{Currency.9}} </td>
                    <td> {{Price_in_Year.10}} {{Currency.9}} </td>
                    <td> {{Price_in_Month.10}} {{Currency.9}} </td>
                    <td> {{BookValue.9}} </td>
                    <td>
                        {% if Difference.10 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.10}}
                    </td>
                </tr>
                <tr class="table-row">
                    <td>
                        <img class="test" src="{{Images.10}}"/>
                        <span>{{Name.11}}</span>
                    </td>
                    <td> {{Price.11}} {{Currency.10}} </td>
                    <td> {{Price_in_Year.11}} {{Currency.10}} </td>
                    <td> {{Price_in_Month.11}} {{Currency.10}} </td>
                    <td> {{BookValue.10}} </td>
                    <td>
                        {% if Difference.11 < 0 %}
                            <span class="material-icons trending-down">trending_down</span>
                        {% else %}
                            <span class="material-icons trending-up">trending_up</span>
                        {% endif %}
                        {{Difference.11}}
                    </td>
                </tr>
            </table>


            <div class="form">
                <input placeholder="Input company symbol" id="ID" type="text"/>
                <button onclick="Test()"> Click</button>
            </div>

            <div id="loading-indicator"></div>

            <table id="Test1">
                <tr class="table-header">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Biggest price in the last year</th>
                    <th>Biggest price in the last month</th>
                    <th>Book Value</th>
                    <th>Difference</th>
                </tr>
            </table>
        </div>
    </div>
    <script>
      async function Test() {
        const loadingIndicator = document.getElementById('loading-indicator');
        const companyId = document.getElementById("ID").value;

        try {
          const table = document.getElementById('Test1');

          loadingIndicator.innerText = "loading...";
          const list = await getCompanyInfo(companyId);
          console.log(list);

          list.forEach(listItem => {
            table.appendChild(makeRow(listItem));
          });
        } catch (error) {
          console.log(error);
        }

        loadingIndicator.innerText = "";
      }

      async function getCompanyInfo(companyId) {
        const url = 'http://127.0.0.1:8000/api/company/'+companyId;
        const response = await fetch(url);

        if (!response.ok) {
          throw new Error(response.statusText);
        }

        return await response.json();
      }

      function makeRow(listItem) {
        const name = listItem.name;
        const logoSrc= listItem.image;
        const currency = listItem.currency;
        const price = `${listItem.price} ${currency}`;
        const biggestPriceLastYear = `${listItem.biggest_price_last_year} ${currency}`;
        const biggestPriceLastMonth = `${listItem.biggest_price_last_month} ${currency}`;
        const bookValue = listItem.book_value;
        const difference = listItem.difference;

        const tableRow = document.createElement('tr');
        tableRow.className = "table-row";

        tableRow.appendChild(makeNameColumnCell(name, logoSrc));
        tableRow.appendChild(makePriceColumnCell(price));
        tableRow.appendChild(makePriceColumnCell(biggestPriceLastYear));
        tableRow.appendChild(makePriceColumnCell(biggestPriceLastMonth));
        tableRow.appendChild(makePriceColumnCell(bookValue));
        tableRow.appendChild(makeDifferenceCell(difference));

        return tableRow;
      }

      function makeNameColumnCell(name, logoSrc) {
        const tableCell = document.createElement('td');
        const img = document.createElement('img');
        const text = document.createElement('span');

        img.className='test';
        img.setAttribute('src', logoSrc);
        text.innerText = name;
        tableCell.appendChild(img);
        tableCell.appendChild(text);

        return tableCell;
      }

      function makePriceColumnCell(price) {
        const tableCell = document.createElement('td');
        const text = document.createTextNode(price);
        tableCell.appendChild(text);

        return tableCell
      }

      function makeDifferenceCell(difference) {
        let cell = makePriceColumnCell(difference);
        cell.prepend(getTrendingArrow(difference));
        return cell;
      }

      function getTrendingArrow(value) {
        //<span class="material-icons trending-down">trending_down</span>
        const span = document.createElement('span');
        span.className = 'material-icons';

        if (value > 0) {
          span.classList.add('trending-up');
          span.innerText = 'trending_up';
        } else {
          span.classList.add('trending-down');
          span.innerText = 'trending_down';
        }

        return span;
      }
    </script>
</body>

</html>
